@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_new_product {
    background: url(/home/mobile/image-speaker-zx7.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}

@media (min-width: 640px) {
  .bg_new_product {
    background: url(/home/tablet/image-speaker-zx7.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  }
}

@media (min-width: 1024px) {
  .bg_new_product {
    background: url(/home/desktop/image-speaker-zx7.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  }
}
